body {
  background-color: white;
}

h1 {
  color: powderblue;
}

p {
  color: black;
}

a>img {
    margin-left: 20px;
    margin-right: 20px;
}

ul{
    float: inherit;
    list-style-type: none;
}

ul li{
    display: inline-block
}

ul li a{
    text-decoration: none;
    color: orange;
    padding: 5px 20px;
    border: 1px solid white;
    transition: 0.5s ease;
}

ul li a:hover{
    background-color: orange;
    color: black;
    border: 1px solid orange;
}

ul li:active a{
    background-color: white;
    color: black;
}

.logo img{
    float: left;
    width: 300;
    height: auto;
}

.main{
    max-width: 1200px;
    margin: auto;
}

footer{
    background-color: black;
    color: white;
    margin: 30px
}